//npm install babel-loader @babel/core @babel/preset-env @babel/plugin-transform-runtime  = instala babel

{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}